{% extends 'microblog/layout.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>You are logged in {{ user.username }}</h1>
  {% else %}
    <h2>Welcome to the Tremendo! <span class="icon-emo-happy"></span></h2>
    <p class="lead">
      If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new here, get started
      by creating a <a href="{% url 'register' %}">student account</a> or a <a href="{% url 'register' %}">teacher account</a>.
    </p>
    {% endif %}
{% endblock content %}